.one-content {
	position: relative;
}

.one {
	width: 100%;
	background: #00a1ff;
	display: flex;
	justify-content:center;
	align-items: center;
}

.computer {
	width: auto;
	height: 90vh;
}

.a, .s, .d, .f, .g, .h, .j, .k, .l, .semicolon, .grey-computer {
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.grey-computer {
	transition: opacity 6s;
}
.skeleton {
	opacity: 0;
	position: absolute;
	top: 30%;
	left: 90%;
}
.frog {
	opacity: 0;
	position: absolute;
	width: 20%;
	bottom: -5vh;
	left: 20%;
}
.sanic {
	opacity: 0;
	position: absolute;
	top: 20;
	left: 0;
}
.mtndew {
	opacity: 0;
	position: absolute;
	top: 32%;
	left: 22%;
}
.deal {
	opacity: 0;
	position: absolute;
	left: -5%;
	width: 70%;
	top: -5vh;
}
.hit {
	opacity: 0;
	position: absolute;
	width: 10%;
	top: 32%;
	left: 22%;
}
.snoop {
	opacity: 0;
	position: absolute;
	width: 10%;
	bottom: -5vh;
	left: 90%;
}
.frogs {
	opacity: 0;
	position: absolute;
	width: 60%;
	bottom: -5vh;
	left: 40%;
}

.data-box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 30px;
	color: #f7f7f7;
	border: solid 2px;
	border-radius: 5px;
	width: 200px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.data-box p {
	text-align: center;
}