* {
	outline: none;
	box-sizing: border-box;
	font: 20px 'Source Code Pro';
}

body {
	background: #fff;
	margin: 0;
}

#header {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding: 30px 200px;
    background: #00f;
    color: #fff;
}

#project {
	padding-top: 85px;
	min-height: 100vh;
	display:flex;
}

#contents {
	padding-top: 30px;
	padding-left: 200px;
}

h1 {
	margin: 0;
}

#header a {
	color: #fff;
}
#project a {
	color: #00f;
}